.App {
  text-align: center;
}

.header {
  background-color: rgb(34, 100, 122);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.mainContent {
  padding-left: 5vw;
  padding-right: 5vw;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}

a {
  color: white;
}

.button {
  padding: 10px;
  min-height: 5vh;
  margin: auto;
  border: 2px solid;
  background-color: lightblue;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}